#input-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 15px 30px;
    box-shadow: 0px -2px 3px #dedede;
}

#input-form {
    text-align: center;
}

.msg-input {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #676767;
    width: 80%;
}

.msg-input:focus,
.send-msg-btn:focus {
    outline: none;
}

.msg-input:focus {
    border-bottom: 1px solid #66AFE0;
}

.msg-input::-webkit-input-placeholder {
    color: #cbcbcb;
    font-size: 14px;
}

.send-msg-btn {
    margin-left: 5%;
    font-size: 14px;
    color: #66AFE0;
    background-color: white;
    border: none;
}

@media (max-width: 900px) {
    #input-panel {
        padding: 5px 30px;
    }

    .msg-input {
        font-size: 14px;
    }

    .send-msg-btn {
        margin-left: 0;
    }
}
